ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

.texto{
    background-color: aquamarine;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.texto2{
    background-color: rgb(147, 179, 221);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}