<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
        <div><img src="../../assets/imagenes/bien.png" width=100%  height=270></div>
      </ion-col>
      <ion-col sizeLg="12" sizeMd="4" sizeXs="12">
        <div>Bienvenido a nuestra aplicacion calefit donde encontraras todo tipo de 
          metodos y rutinas saludables para tener una vida mucho mejor y sintiendote bien contigo
          <div><img src=""></div>
        </div>
      </ion-col>
          </ion-row>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <video src ="../../assets/videos/gordis.mp4" width=100%  height=240 controls></video>   
      </ion-col>    
    </ion-row>
  </ion-grid>

</ion-content>
