<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>informate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="danger">
    <h1> <center>¿Cómo comenzar una vida saludable?</center></h1>
  </ion-text>
  <ion-text color="dark">
    <h5> <center>No solamente consiste en comer más vegetales y hacer actividad física, 
      hay consejos sencillos que te ayudarán cotidianamente a alimentarte mejor. 
      La Dra. Tamara Cudi, Jefa del Servicio de Nutrición de Grupo Gamma, 
      nos brinda 14 recomendaciones para modificar tu alimentación.</center></h5>
  </ion-text>
  <ion-item *ngFor="let user of users">
    <ion-avatar slot="start">
      <img src="../../assets/imagenes/{{user.image}}">
    </ion-avatar>
       <ion-col>
        <h2 class="colorblue">{{user.name}}</h2>
        <p>{{user.description}}</p>

       </ion-col>
    
  </ion-item>

</ion-content>