<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>alimentate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="danger">
    <h1> <center>Cómo alimentarnos según nuestra edad</center></h1>
  </ion-text>
  <ion-text color="danger">
    <h3>Adolescencia: 12 a 18 años</h3>
  </ion-text>

  <ion-text color="dark">
    <h5>Las necesidades nutritivas en la adolescencia vienen marcadas 
      por los procesos de maduración sexual, aumento de talla y aumento de peso. 
      Estos procesos requieren una cantidad elevada de energía y de ciertos nutrientes; 
      hay que tener en cuenta que el adolescente gana aproximadamente 
      el 20% de la talla y el 50% del peso que va a tener como adulto. 
      Estos incrementos se corresponden principalmente con el aumento de masa muscular y de masa ósea. 
      Toda esta situación se ve directamente afectada por la alimentación que debe estar dirigida y
       diseñada para cubrir el gasto que se origina.</h5>
  </ion-text>
  <div><img src="../../assets/imagenes/frutas.jpg" ></div>
  <ion-text color="dark">
    <h5>Se deben mantener las recomendaciones de una dieta sana y equilibrada. 
      Con respecto a los hidratos de carbono y proteínas, las recomendaciones en cantidad y 
      calidad son las mismas que para un adulto sano, sin olvidar que el aporte correcto de 
      grasas supone cubrir adecuadamente las necesidades de ácidos grasos esenciales 
      (que el organismo no puede producir por sí sólo) y de vitaminas liposolubles (A, D y E)</h5>
  </ion-text>
  <div><img src="../../assets/imagenes/sandia.png" ></div>

  
  <ion-text color="danger">
    <h3>Características generales de la dieta</h3>
  </ion-text>

  <ion-text color="dark">
    <h5>• Variar al máximo la alimentación, 
      incluso dentro de cada grupo de alimentos 
      (distintos tipos de verduras, frutas, legumbres, carnes, pescados, etc.)</h5>

      <h5>• Mantener los horarios de comidas de un día para otro y no saltarse ninguna.</h5>

      <h5>• Comer despacio, masticando bien, en ambiente relajado, tranquilo, evitando distracciones (TV, radio, etc.)</h5>

      <h5>•Comer ordenadamente; comenzar por el primer plato, después el segundo y por último el postre.</h5>

      <h5>• Alimentos dulces, chocolates, refrescos, snacks 
        (patatas, ganchitos…), repostería, pizzas, hamburguesas, etc. 
        No hay porque omitir estos alimentos, 
        pero sí que es recomendable tomarlos en pequeñas cantidades y que 
        su consumo sea ocasional sin dejar que se convierta en un hábito.</h5>

      <h5>• Se ha de tener en cuenta que dentro de grupo de alimentos, 
        las calorías varía en función de la cantidad de grasa o de azúcares añadidos 
        (leche entera o desnatada, carne magra o grasa, yogures azucarados o no...) y de la forma de cocinado 
        (frito, plancha, horno, etc.)</h5>
  </ion-text>
  <div><img src="../../assets/imagenes/carne.png" ></div>

</ion-content>
